.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 20px;
}

.xs {
    margin-bottom: -10rem;
}

.lg {
    margin-bottom: -20rem;
}

.card {
  overflow: hidden;
  width: 30rem;
  background: transparent!important;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

  